@import url("https://fonts.googleapis.com/css?family=Montserrat");
.navbar-expand-lg {
  background-color: #546E7A; }

body {
  background-color: #c7cfd3; 
  font-family: 'Montserrat',
  sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
   padding: 30px;
}
.navbar-brand {
  font-size: 2rem;
  font-family: Montserrat; }

.is-hidden {
  display: none; }

#sixth-sec,
#fourth-sec,
#second-sec {
  background-color: #546E7A; }

#sixth-sec,
#fiveth-sec,
#fourth-sec,
#third-sec,
#second-sec {
  position: relative;
  max-height: 573.82px;
  width: 100%;
  overflow-x: scroll; }

div.card {
  background-color: white;
  margin-bottom: 45px; }

.d-block.w-100 {
  margin-top: 100px; }

#search-bar {
  margin-top: 1%;
  margin-bottom: 25px;
  background-color: #fdfdfd; }

#search-bar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2; }

div.modal-dialog {
  width: 50% !important;
  height: 900px; }

img.img-fluid {
  border-radius: 2px; }

.close_b {
  position: absolute;
  left: 0px; }

.col-sm-3, .col-md-3 {
  border-radius: 3px;
  margin-right: 18px;
  margin-bottom: 18px;
  border: 1px solid #91a1a8; }

.col-sm-3:nth-child(1) {
  margin-left: 80px; }

.edit-btn {
  position: absolute;
  left: 15px;
  top: 280px;
  padding-right: 10px;
  /* border: 1px solid #a6b3ba;
  background-color: #a6b3ba; */
 }

.delete-btn.waves-effect {
  position: relative;
  left: 80px;
  top:-10px;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* border: 1px solid #a6b3ba;
  background-color: #a6b3ba; */
 }
.img-thumbnail{
  width:250px;
}
/* .modal-header{
  margin-top: 
} */
h1.modal-title{
  color: #546E7A;
  font-size: 16px;
  position: absolute;
  top:5px;
 left:250px;
margin-bottom: 50px;
 }
h3.text-left{
  color: #546E7A;
  position: relative;
  font-size:14px;
  top:25px;
  left: -5px;
  margin:20px;
  /* padding:  */
}
h5.text-left.due{
  color: #546E7A;
  position: relative;
  font-size:14px;
  top:48px;
  left: -95px;
  margin:20px;
}
h5.text-left.type {
  color: #546E7A;
  position: relative;
  font-size: 14px;
  top: 72px;
  left: -208px;
  margin: 20px;
}
h5.text-left.read {
  color: #546E7A;
  position: relative;
  font-size: 14px;
  top: 95px;
  left: -293px;
  margin: 20px;
}
@media (max-width: 414px) {
  #search-bar {
    margin-top: -11%;
    margin-bottom: 25px;
    background-color: #fdfdfd; }

  #search-results {
    grid-column-start: 1;
    grid-column-end: 3; }

  .edit-btn {
    position: absolute;
    top: -90px;
    left:120px;
  }

  .delete-btn {
    /* margin-top: -50px;
    margin-bottom: 5px;*/
  
  
  }
}