//Variables
$red: #f63541;
$yellow: #8a856a;;
$lightgray: #8d8984;
$regulargray: #aaaaaa;
$black: #e8e9d8;
$white:#fff;
$primaryFont: 'Atila Normal',sans-serif;
$secondaryFont:'Microsoft Sans Serif Regular',sans-serif;
$nav-color: #b9b4aa;


 .nav-sidebar{
   display: block;
   left:-15px;
   background-color:#c2dd73;
 width:280px;
    & li{
       padding: 45px;
      //  border-right: 1px solid #eeeeee;
       border-bottom: 1px solid #eeeeee;
       top:50px;
    }
    & a{
      font-size: 25px;
      color:#3b610c;
      text-decoration: none;
    }
 }

.add-book a{
  position: relative;
  left:15px;
}
.contact{
  top:15px;
}
#dueBook.header{
  font-size: 35px;
  padding:15px 0px;
}
.navbar-header{
  min-height: 150px !important;
  & h3{
font-family: 'Raleway', sans-serif;
font-size: 80px;
color: $white;
  }
}
.header-font{
  color:#84ad52;
  font-size: 35px;
  margin-left: -15px;
}
.selector-for-some-widget {
  box-sizing: border-box;
}
// .row{
//   position:flex;
//   top:150px;

// }
// // header{
// //     // padding-top:-10px ;
// // }
// .navbar-light {
//     background-color:$red !important;
//    position:fixed;
//    height: 100px;
//    width: 100%;
//     z-index: 23;
//     top:-10px;
//     margin-bottom: 1px;
// }
// .navbar-brand{
//   font-size: 50px;
//   color: $white;

// }
// .container{
//   position: relative;
//     top: 50px;
//     left:9px;
//     width:68%;
//     background-color:$black;
// }

// .caption{
//  text-align-last: inherit;
// color: $lightgray;
// }
// .edit {
//     margin-right:80px;
// }
// h1{
//     color:$regulargray;
//     position: relative;
//     left:5px;
//     font-size: 25px;
// }

// h5{
//     font-size: 10px;
// }
// h6{
//     font-size: 10px;
//     margin: -7px 0px 2px 0px;
// }
// p .btn{
// display: inline;
// }
// .sidebar {
//     position: fixed;
//     min-width:17%;
//     top: 97px;
//     bottom: 0;
//     left: 0;
//     z-index: 1000;
//     // display: block;
//     // padding: 10px;
//     overflow-x: hidden;
//     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
//     background-color: $yellow;
//     border-right: 1px solid #eee;
// }
// .sidebar {
//      width: 170px;
// }
// nav .nav-sidebar{
//     position: relative;
//     top:15px;
// // }
// // #logout{
// //      position: relative;
// //     left:-42px;
// //    margin:15px;
// // }
// // #login{
// //     position: relative;
// //     left:-25px;
// //    margin:15px;
  
// // }


// @media (min-width: 768px) {
//     .main {
//         padding-right: 40px;
//         padding-left: 20px; /* 180 + 40 */
//     }
// }

// ==============ADD FORM ONLY==================
// form{
//  width:25%;
// }


// .box{
//   border: 2px solid black;
//   font-size: 1.4rem;
//   border-radius: 2px;
// }
nav{
  background-color: #accc63;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.nav__links{
  margin-bottom: 0;
  padding-left: 1.5rem;

  &li{
    display: block;
    padding-left: -.1rem;
    width: 9rem;
     border-right: 2px solid #000;
}}
    a{
      font-size: 1.5em;
     	// background-color:transparent !important;
      // border-color:transparent;
      // background-image:none;
      color:$white;
      box-shadow:none;	
      // padding: 15px 30px 15px 0px;
      line-height: 3rem;
      display: block;
     text-align: center;
      // color: #000;
      text-decoration: none;

      &.last{
        border-right: 0;
      }
      &:hover{
        color: darken( $nav-color, 20% );
        text-decoration:none;
    }}
  .is-hidden{
    display: none;
}

.uiContainer
{
  &--wrapper{
    padding-right: 0;
    height: 750px;
    // background-color: $regulargray;
  }
    input{
      font-size: 2em;
      // padding:85px;
    } 
  &__book-list{
    height: 538px;
    padding-right: 0;
    overflow: scroll;
    }
    .book-list{
      list-style-type: none;
      padding-bottom: 85px;
    }
      li{
        
        margin-bottom: .4rem;
        // padding: 15px;
      }
      &__item--data{
        padding-left: 100px;
      }}
        li{
         background-color:#accc63 0.5;
         display:block;
        //  padding:15px 80px;
         padding-left: .8rem;
        //  border-bottom: 1px solid rgb(126, 123, 114);
        
          &:last-of-type{
            border-right: none;
          }
          &:first-of-type{
            padding-left: 0;
}}
      .book-title{
        color: #66635a;
        font-size: 2.5re;
        margin-bottom: .5rem;
      }
      .delete-btn{
        background: grey;
        width: 80px;
        padding: 0;
      }
