//Variables
$red: #f63541;
$yellow: #8a856a;;
$lightgray: #8d8984;
$regulargray: #aaaaaa;
$black: #e8e9d8;
$white:#fff;
$primaryFont: 'Atila Normal',sans-serif;
$secondaryFont:'Microsoft Sans Serif Regular',sans-serif;
$nav-color: #b9b4aa;

// body{
//   background-image: url('img/1.png')repeat fixed;
//   background-size: contain;
// }

 .nav-sidebar{
   display: block;
   left:-15px;
   background-color:#c2dd73;
 width:280px;
    & li{
       padding: 45px;
      //  border-right: 1px solid #eeeeee;
       border-bottom: 1px solid #eeeeee;
       top:50px;
    }
    & a{
      font-size: 25px;
      color:#3b610c;
      text-decoration: none;
    }
 }

.add-book a{
  position: relative;
  left:15px;
}
.contact{
  top:15px;
}
#dueBook.header{
  font-size: 35px;
  padding:15px 0px;
}
.navbar-header{
  min-height: 150px !important;
  & h3{
font-family: 'Lato', sans-serif;
font-size: 80px;
color: $white;
  }
}
.header-font{
  color:#84ad52;
  font-size: 35px;
  margin-left: -15px;
}
.selector-for-some-widget {
  box-sizing: border-box;
}
.book-title{
  width: 150px;
  display: inline !important;
}

//  .book-list_item{
//    background-color: aquamarine;
//    padding: 15px;
//    display: inline;
// }
nav{
  background-color: #accc63;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.nav__links{
  margin-bottom: 0;
  padding-left: 1.5rem;

   li{
    display: block;
    padding-left: -.1rem;
    width: 9rem;
     border-right: 2px solid #000;
}} 
   .nav-sidebar a{
      font-size: 1.5em;
      color:$secondaryFont;
      box-shadow:5px 10px 18px #6f8a30;
      border-radius: 5px;	
      line-height: 3rem;
      display: block;
      text-align: center;
      text-decoration: none;

      &.last{
        border-right: 0;
      }
      &:hover{
        border:1px solid #6f8a30;
        color: white;
        text-decoration:none;
    }}
  .is-hidden{
    display: none;
}

.uiContainer
{
  &--wrapper{
    padding-right: 0;
    height: 750px;
    // background-color: $regulargray;
  }
    input{
      font-size: 2em;
      // padding:85px;
    } 
  &__book-list{
    height: 538px;
    padding-right: 0;
    overflow: scroll;
    }
    li.book-list_item{
      border: 1px solid black;
      padding: 14px;
      display: inline !important;
      min-width:550px;
      min-height:550px;
      list-style-type: none;
      padding-bottom: 85px;
      background-color: #4f922f;
    }
      li{
        
        margin-bottom: .4rem;
        // padding: 15px;
      }
      &__item--data{
        padding-left: 100px;
      }}
        li{
         background-color:#accc63 0.5;
         display:block;
         padding-left: .8rem;
        //  border-bottom: 1px solid rgb(126, 123, 114);
        
          &:last-of-type{
            border-right: none;
          }
          &:first-of-type{
            padding-left: 0;
}}
      .book-title{
        color: #3b610c;
        font-size: 2.5re;
        margin-bottom: .5rem;
      }
      // .delete-btn{
      //   background: grey;
      //   width: 80px;
      //   padding: 0;
      // }
 #form-image,
 #form-read,
 #form-dueDate,
 #form-place,
 #form-author,
 #form-title,
 #form-type,
 #form-desc{
font-size: 15px;
left:15px;
background-color: #f2f5f1;
border:1px solid #b9e0a6;
border-radius: 5px;
padding:8px;
margin: 5px;
}
.bookItem{
  background-color: #3b610c;
}
#form-title,
#form-author{
  width: 418px;
}
#form-desc{
  width: 850px;
  height: 250px;
}
 #form-album{
   width:200px;
 }
 save.new.btn{
   background-color: #84ad52;
 }
 a.aBook{
   top:150px !important;
   margin-top: 50px;
   font-size: 25px;
   color:#3b610c;
   text-decoration: none;
 }
div.col-sm-6{
background-color: #ffffff;
border:1px solid lightgray;
// margin-left: 70px;
margin: 30px 0px 0px 70px;
// margin-right:5px;
min-height: 350px;
box-shadow: 1px 1px 0px #adc08b;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
a.edit-btn{
  // background-color: #6f8a30;
  // position: relative;
  // top: 180px;
  left:0px;
  width: 100px;
  height: 35px;
  margin-bottom: 5px;
  z-index: 18;
  background-color:#84ad52;
  width: 75px;
}

a.delete-btn{
  height: 35px;
  //  position: relative;
  // top: 180px;
  margin-left:100px;
  z-index: 17;
  background-color: white;
  border:1px solid #84ad52;
  width: 75px;
  margin-bottom: 5px;
}
.caption{
  //  position: relative;
  // top: 180px;
  left:6px;
  
  z-index: 17;
}
.container h1{
  color: yellowgreen;
  font-family: 'Loto', sans-serif;
}
.caption img{
  max-width: 150px !important;
  position: relative;
  margin-top: 15px;
  left:20%;
  z-index: 58;

}
h5{
  font-size: 15px;
  font-family: 'Loto', sans-serif;
  margin: 2px 0px;
  color:  rgb(133, 146, 109);
  font-weight: 100;
}
html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Loto', sans-serif;

}
 h4{
   font-size: 17px;
   color:  rgb(95, 90, 83);
   margin-top: 15px;
   
 }

//  #welcome{
//    background-image: url('imgs/cover.png')
//  }

.uiContainer-wrapper.row{
  margin-left: 95px;
  background-repeat: no-repeat;
}