@import url('https://fonts.googleapis.com/css?family=Montserrat');
.navbar-expand-lg{
  background-color: #546E7A;
}
body{
  background-color: rgb(199, 207, 211);
}
h1{
  font-family: 'Montserrat', sans-serif;
  color:white;
  padding:30px;
}
.navbar-brand{
  font-size:2rem;
  font-family: Montserrat;
}
.is-hidden{
   display: none;
}
#sixth-sec,
#fourth-sec,
#second-sec{
    // background-color: #546E7A;
  }
#sixth-sec,
#fiveth-sec,
#fourth-sec,
#third-sec,
#second-sec {
position: relative;
max-height: 573.82px;
width: 100%;
//  overflow-x: scroll;
}

div.card {
  background-color: rgb(255, 255, 255);
   margin-bottom: 45px;
}

.d-block.w-100{

margin-top: 100px;

}
#search-bar{
  margin-top:1%;
  margin-bottom: 25px;
  background-color:rgb(253, 253, 253);
}

#search-bar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}


div.modal-dialog{
width:50% !important;
height:900px;
}
img.img-fluid{
    border-radius: 2px;
}
.close_b{
  position: absolute;
  left:0px;
}

.col-sm-3, .col-md-3{
  // background-color:#546E7A;
  border-radius: 5px;
  margin-right: 18px;
    margin-bottom: 18px;
    border:1px solid rgb(145, 161, 168);
    -webkit-box-shadow: 0 10px 6px -6px rgb(54, 51, 51);
    -moz-box-shadow: 0 10px 6px -6px rgb(54, 51, 51);
    box-shadow: 0 10px 6px -6px rgb(54, 51, 51);

// &:hover{
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   transform: scale(1.1);
//   opacity: 1;
// }
}

.col-sm-3:nth-child(1){
  margin-left: 80px;

}
.edit-btn{
position: absolute;
min-width: 90px;
max-width: 91px;
// left:15px;
// top:350px;
// // margin-right: 15px;
// // padding-left: 20px;
//    padding-right: 20px;
// border:1px solid rgb(166, 179, 186);
background-color: rgb(166, 179, 186);
}
.delete-btn.waves-effect{
  position: absolute;
  // left:55px;
  // top:280px;
  // padding-left: 2px;
  // padding-right: 2px;
  // border:1px solid rgb(166, 179, 186);
  background-color: rgb(166, 179, 186);
}

// .book-search-result{
//   min-height: 300px;
// }
@media (max-width: 414px) {

#search-bar{
  margin-top:-11%;
  margin-bottom: 25px;
  background-color:rgb(253, 253, 253);

}
#search-results {
  grid-column-start: 1;
  grid-column-end: 3;
}
.edit-btn{
  position: absolute;
   top: -50px;
    // margin-bottom: -15px;

}
.delete-btn{
    margin-top: -50px;
      margin-bottom: 5px;
}
}
